.input-padrao {
    width: 100%;
    background-color: #27272a;
    padding: 8px 12px;
    margin-top: 8px;
    outline: none;
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.input-padrao:focus {
    border: 1px solid #dc2626;
}

.input-padrao:placeholder {
    color: #71717a;
}

.label-padrao {
    color: #a1a1aa;
    font-size: 12px;
    display: block;
    margin-top: 12px;
}

.aba-ativa {
    color: #eab308;
    border-bottom: 2px solid #eab308;
}

.aba-inativa {
    color: #a1a1aa;
    border-bottom: none;
}

.aba-inativa:hover {
    color: #d4d4d8;
    transition: 0.3s;
}